<div class="wrapper">
    <p class="description"><img class="description-image" src="../../../assets/images/about.png" alt=""> Наша компания
        успешно занимается <span class="description--yellow">поиском работы</span> для <span
            class="description--blue">людей</span> различных сфер деятельности.
        За все время
        работы мы помогли сотням <span class="description--blue">людей</span> найти <span
            class="description--green">перспективную </span> <span class="description--yellow">работу</span> в различных
        сферах деятельности. Наши специалисты
        заботятся о <span class="description--green">качестве</span> предоставляемых нами услуг и стремятся найти нашим
        <span class="description--blue">кандидатам </span> <span class="description--green">наилучший</span> вариант.
    </p>
</div>