<div class="wrapper">
    <h1 mat-dialog-title>Заявка</h1>
    <div mat-dialog-content class="formContent">
        <mat-form-field appearance="legacy">
            <mat-label>ФИО</mat-label>
            <input matInput placeholder="Иванов Иван Иванович" [(ngModel)]="name">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>ФИО</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Номер телефона</mat-label>
            <input matInput placeholder="" [(ngModel)]="phone">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>ФИО</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Связаться по</mat-label>
            <mat-select  required [(ngModel)]="messenger">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let messenger of messengers" [value]="messenger">
                {{messenger}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <!-- <mat-slide-toggle [(ngModel)]="gender" name="enableWifi">Консультант девушка</mat-slide-toggle> -->
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="sendRequest()" [mat-dialog-close]="true">Отправить</button>
    </div>
</div>