<div class="wrapper">
    <div class="header">
        <div class="header-contacts">
            <p class="header-companyTitle">Vacancy</p>
        </div>
        <div class="header-nav">
            <a mat-raised-button>О нас</a>
            <a mat-raised-button routerLink="/pricing">Цены</a>
            <button mat-raised-button color="accent" (click)="openModal()">Подать заявку</button>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

