<div class="wrapper">
    <div class="content">
        <p class="tagline">С нами в лучшее будущее!</p>
        <p class="description">
            За все время работы мы
            помогли сотням людей найти перспективную работу в различных сферах деятельности. Мы заботимя о своей
            репутации, поэтому следим за качеством предоставляемых нами услуг и стремимся найти нашим кандидатам
            наилучший вариант.
        </p>
        <div class="forMobile">
            <div class="titleForMobile">
                <p>va</p>
                <p>ca</p>
                <p>n</p>
                <p>cy</p>
            </div>
            <p class="descriptionForMobile">Создаем людям будущее с 2017 года</p>
            <!-- <div id="arrowAnim">
                <div class="arrowSliding">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay1">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay2">
                    <div class="arrow"></div>
                </div>
                <div class="arrowSliding delay3">
                    <div class="arrow"></div>
                </div>
            </div> -->
        </div>
        
        <button mat-raised-button color="accent" (click)="openModal()">Подать заявку</button>
    </div>
    <div class="background"></div>
    <div class="steps">
        <mat-card class="steps-card">
            <mat-card-header>
                <mat-card-title>Консультация и резюме</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/../assets/images/4095860.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Проведение консультации по телефону с нашим специалистом и составление персонального резюме
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="steps-card">
            <mat-card-header>
                <mat-card-title>Поиск вакансий</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/../assets/images/2895265.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Мы подберем вам вакансии с учетом ваших желаний и возможностей, договоримся о собеседованиях и
                    подготовим вас к ним
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="steps-card">
            <mat-card-header>
                <mat-card-title> Общение с работодателями </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/../assets/images/21207.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Также, мы отправим ваше резюме потенциальным работодателям, ведь большинство вакансий так и не
                    выходят на рынок труда. В момент когда возникает потребность в специалисте нужное резюме уже лежит в
                    компании.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>