<div class="wrapper">
    <div class="content">
        <p class="tagline">С нами в лучшее будущее!</p>
        <p class="description">
            За все время работы мы
            помогли сотням людей найти перспективную работу в различных сферах деятельности. Мы заботимя о своей
            репутации, поэтому следим за качеством предоставляемых нами услуг и стремимся найти нашим кандидатам
            наилучший вариант.
        </p>
        <button mat-raised-button color="accent" (click)="openModal()">Подать заявку</button>
    </div>
    <div class="background"></div>
</div>