.wrapper {
    width: 95%;
    margin: 12% 0 0 5%;
    display: flex;
    .content {
        width: 35%;
        .tagline {
            margin: 0;
            font-size: 4rem;
            line-height: 1.2;
        }
        .description {
            font-size: 1rem;
            margin-top: 2rem;
            opacity: 0.6;
        }
        button {
            border-radius: 50px;
            font-size: 1.1rem;
            padding: 0.5rem;
            margin-top: 2rem;
            width: 30%;
        }
        .forMobile{
            display: none;
        }
    }
    .background {
        width: 50vw;
        height: 55vh;
        background-image: url("/../assets/images/6594.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .steps {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        margin-top: 1.5rem;
        display: block;
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .forMobile {
                display: block;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: bolder;
                height: 100vh;
                .titleForMobile {
                    line-height: 17vh;
                    font-size: 16vh;
                }
            }
            .tagline {
                display: none;
                margin: 0;
                font-size: 4rem;
                line-height: 1.2;
            }
            .description {
                display: none;
                font-size: 1rem;
                margin-top: 2rem;
                opacity: 0.6;
            }
            button {
                z-index: 99999;
                width: 90%;
                position: fixed;
                bottom: 5%;
                border-radius: 50px;
                font-size: 5rem;
                padding: 0.5rem;
                margin-top: 2rem;
            }
            
            

            
        }
        .background {
            display: none;
        }
        .steps {
            display: block;
            text-align: center;
            .steps-card {
                margin: 3rem auto;
                width: 80%;
            }
        }
    }
}
